{% extends "users/layouts/profile_base.html" %}
{% load static %}

{% block page_title %}
  {{ block.super }} | Корзина
{% endblock page_title %}

{% block scripts %}
  <script
    src="{% static 'shop/js/cart.js' %}"
    type="module"
    defer
  ></script>
{% endblock scripts %}

{% block profile_page_content %}

<h1 class="text-center mb-4">
  Корзина
</h1>

<div class="container">

  {% for item in cart_items %}

    <div class="cart-item rounded p-3 mb-3">

      <div class="row align-items-center">

        <!-- Фото -->
        <div class="col-md-3">
          {% if item.product.image %}
            <img
              src="{{ item.product.image.url }}"
              class="img-fluid rounded"
              alt="{{ item.product.name }}"
            >
          {% endif %}
        </div>

        <!-- Информация -->
        <div class="col-md-6">

          <h3>
            {{ item.product.name }}
          </h3>

          <p class="fw-bold text-success">
            {{ item.product.price }} ₽
          </p>

        </div>

        <!-- Количество -->
        <div class="col-md-3">

          <div class="quantity-controls d-flex align-items-center gap-2">

              <button
                  class="btn btn-outline-secondary minus-btn"
                  data-product-id="{{ item.product.id }}"
              >
                  -
              </button>

              <span class="quantity">
                  {{ item.quantity }}
              </span>

              <button
                  class="btn btn-outline-success plus-btn"
                  data-product-id="{{ item.product.id }}"
              >
                  +
              </button>

          </div>

          <button
            class="btn btn-danger mt-2 remove-cart-item-btn"
            data-product-id="{{ item.product.id }}"
          >
            Удалить из корзины
          </button>

        </div>

      </div>

    </div>

  {% empty %}

    <p class="text-center">
      Корзина пуста.
    </p>

  {% endfor %}

</div>

{% endblock profile_page_content %}