{% extends "users/layouts/profile_base.html" %}
{% load static %}

{% block page_title %}Профиль{% endblock page_title %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "shop/css/includes/post_container.css" %}">
{% endblock styles %}

{% block scripts %}
  <script src="{% static "shop/js/cart.js" %}" type="module" defer></script>
{% endblock scripts %}


{% block profile_page_content %}
  <div class="products-grid">
    {% if products %}
      {% for product in products %}
        {% if user == request.user or product.status != 'draft' %}
          {% include 'shop/includes/product_container.html' %}
        {% endif %}
      {% endfor %}
    {% else %}
      <p>Объявлений ещё нет. Загляните позже!</p>
    {% endif %}
  </div>

  {% include "shop/includes/pagination.html" %}
{% endblock profile_page_content %}