{% extends "base.html" %}

{% block page_title %}Поиск объявлений{% endblock page_title %}

{% block page_content %}
  <h1>Поиск объявлений</h1>

  <form>
    <input autocomplete="off" spellcheck="false" type="text" name="search" placeholder="Введите запрос" value="{{ request.GET.search }}">

    <label>
      <input type="checkbox" name="search_category" {% if request.GET.search_category %}checked{% endif %}>
      Искать в категориях
    </label>

    <label>
      <input type="checkbox" name="search_tag" {% if request.GET.search_tag %}checked{% endif %}>
      Искать в тегах
    </label>

    <button type="submit">Найти</button>
    <button type="reset">Очистить</button>
  </form>

  {% if search_performed %}
    {% if products %}
      <h2>Найдено {{ paginator.count }} объявление(-я, -й):</h2>
      <div class="products-grid">
        {% for product in products %}
          {% include 'shop/includes/product_container.html' %}
        {% endfor %}
      </div>

      {% include "shop/includes/pagination.html" %}
    {% else %}
      <p>По вашему запросу ничего не найдено.</p>
    {% endif %}
  {% else %}
    <p>Введите запрос для поиска постов</p>
  {% endif %}
{% endblock page_content %}