{% extends "base.html" %}
{% block page_title %}{{ product.name }}{% endblock page_title %}

{% block page_content %}
    <a href="{% url 'blog:product_list' %}">&larr;Назад</a>

    <h1>Детали товара:</h1>
    <h2>ID товара: {{ product.id }}</h2>
    <h3>{{ product.name }}</h3>
    {% if request.user == product.seller %}
        Статус: {{ product.get_status_display }} 
    {% endif %}
    <p>Категория: <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></p>

    <p>Теги: 
        {% for tag in product.tags.all %}
            <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            нет тегов
        {% endfor %}
    </p>

    {% if product.image %}
        <img src="{{ product.image.url }}" alt="Изображение товара">
    {% endif %}
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.created_at|date:"d.m.Y H:i" }}</p>

    <p>Продавец: <a href="{% url "users:profile" username=product.seller.username %}">{{ product.seller }}<a></p>

    {% if request.user == product.seller %}
        <a href="{% url 'blog:edit_product' product.slug %}">Редактировать объявление</a>

        <a href="{% url 'blog:remove_product' product.slug %}">Удалить объявление</a>
    {% endif %}
{% endblock page_content %}