{% extends 'layouts/base.html' %}
{% load static %}

{% block page_title %} Объявления с тегом {{ tag.name }}{% endblock page_title %}

{% block scripts %}
  <script src="{% static "shop/js/cart.js" %}" type="module" defer></script>
{% endblock scripts %}

{% block page_content %}
  <a href="javascript:history.back()">&larr;Назад</a>
  <h1>Объявления с тегом: #{{ tag.name }}</h1>
  
  {% if products %}
    {% for product in products %}
      {% include 'shop/includes/product_container.html' %}
    {% endfor %}
  {% else %}
    <p>С этим тегом пока нет постов.</p>
  {% endif %}
{% endblock page_content %}