{% load static %}
{% comment %} {% load custom_filters %} {% endcomment %}

<link rel="stylesheet" href="{% static 'shop/css/includes/product_container.css' %}">


    <div class="product-card">

        <!-- Фото -->
        <div class="product-image">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/300x220" alt="Нет фото">
            {% endif %}
        </div>

        <!-- Контент -->
        <div class="product-content">

            <h3 class="product-title">
                <a href="{% url 'blog:product_detail' product_slug=product.slug %}">
                    {{ product.name }}
                </a>
            </h3>

            <p class="product-price">
                {{ product.price }} ₽
            </p>

            <p class="product-category">
                Категория:
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category.name }}
                </a>
            </p>

            <p class="product-tags">
                {% for tag in product.tags.all %}
                    #{{ tag.name }}
                {% empty %}
                    нет тегов
                {% endfor %}
            </p>
            
            {% if request.user in product.viewed_users.all %}
                <div class="viewed-badge">Просмотрено</div>
            {% endif %}

            <small class="product-date">
                {{ product.created_at|date:"d.m.Y" }}
            </small>


            {% if request.user != product.seller %}

                <button
                    class="btn btn-primary add-to-cart-btn"
                    data-product-id="{{ product.id }}"
                    data-is-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
                    data-login-url="{% url 'users:login' %}"
                >

                {% if product.user_cart_items %}

                    В корзине ({{ product.user_cart_items.0.quantity }})

                {% else %}

                    Добавить в корзину

                {% endif %}

                </button>

            {% endif %}


        </div>

    </div>

